<!DOCTYPE html>
<html lang="en">
<head>
  <title>Home</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
    <div class="row">
        <div class="col">
            <h1>ER Generator</h1>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="form-group">
                <form action="{{ url_for('submit') }}" method="post">
                    <label >Add Requirement Scenario:</label>
                    <textarea class="form-control" rows="15" id="text-scenario" name="scenario"></textarea>
                    <br>
                    <button type="submit" class="btn btn-warning mb-2" name="submit_btn" value="add-text">Add Text </button>
                    <button type="submit" class="btn btn-success mb-2" name="submit_btn" value="generate-er">Draw ER </button>
                    <button type="submit" class="btn btn-primary mb-2" name="submit_btn" value="query-generator"> Query Generator</button>
                    <button type="submit" class="btn btn-danger mb-2" name="submit_btn" value="clear-all"> Clear All</button>
                </form>
            </div>
        </div>
    </div>
</div>

</body>
</html>
